@import 'ui-variables';
/**
 * Buttons
 */

.btn-toolbar,
.token,
.actions>.btn,
.new-package>.btn,
.appearance-mode-switch>.btn {
	/* Background of button should be @white */
	box-shadow: none !important;
	background: transparent !important;
	border: none;
	border-radius: 4px !important;
	transition: all .15s ease-in-out;
	&.item-compose {
		border: none;
		background: transparent !important;
	}
}

.btn,
a,
button {
	transition: all .15s ease-in-out;
}

.composer-action-bar-content {
	.btn-toolbar {
		border: 0 !important;
	}
}

.button-dropdown.bordered {
	.primary-item {
		background: @accent-primary !important;
		color: @white;
		border-color: @accent-primary-dark !important;
	}
}

body.platform-win32 {
	.sheet-toolbar-container {
		.btn-toolbar {
			border: 0 !important;
		}
	}
}

.btn.btn-emphasis {
	background-color:  @accent-primary !important;
	border-color:  @accent-primary !important;
	color: @white !important;
	img.content-mask {
		background-color: @white !important;
	}
}

.button-dropdown.bordered {
	.primary-item {
		box-shadow: none !important;
		background:  @accent-primary !important;
		border: 1px solid @accent-primary-dark !important;
		border-top-left-radius: 4px !important;
		border-bottom-left-radius: 4px !important;
		img {
			position: relative;
			top: -2px;
		}
	}
	.secondary-picker {
		box-shadow: none !important;
		background:  @accent-primary !important;
		border: 1px solid @accent-primary-dark !important;
		border-top-right-radius: 4px !important;
		border-bottom-right-radius: 4px !important;
		margin-left: -1px !important;
	}
	.secondary-items {
		.item {
			color: @background-tertiary !important;
			.search-match {
				background: @white !important;
			}
			.button-dropdown {
				img {
					background: @background-tertiary !important;
				}
			}
		}
	}
}

/* Vertical panel handles */

.flexbox-handle-horizontal {
	div {
		box-shadow: none;
	}
}


/**
 * Dropdown
 */

.thread-search-bar {
	.menu {
		.item.selected {
			.primary {
				color: @white !important;
			}
			.secondary {
				color: @border-color-tertiary !important;
			}
		}
		&.search-container {
			input {
				background: none;
				border: none;
				box-shadow: none;
			}
			.item {
				background: @background-off-primary !important;
				color: @background-tertiary;
			}
			.item.selected {
				background:  @accent-primary !important;
				color: @white !important;
			}
			.search-accessory {
				-webkit-filter: brightness(60%) saturate(7);
				filter: brightness(60%) saturate(7);
				&:last-child {
					-webkit-filter: invert(100);
					filter: invert(100);
				}
			}
		}
	}
	&.focused {
		.menu {
			&.search-container {
				.search-accessory {
					-webkit-filter: brightness(80%) saturate(7);
					filter: brightness(80%) saturate(7);
					&:last-child {
						-webkit-filter: invert(100);
						filter: invert(100);
					}
				}
			}
		}
	}
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: @background-secondary;
}


/**
 * Plugin page
 */

.package {
	border-radius: 4px;
}


/**
 * Prefs page
 */

.appearance-mode {
	background-color: transparent !important;
	border: 1px solid @border-color-tertiary !important;
	color: @background-tertiary;
	img.content-mask {
		background-color: @white !important;
	}
	&.active {
		background-color:  @accent-primary !important;
		color: @white !important;
		border: 1px solid @white !important;
	}
}

.preferences-wrap {
	.btn {
		border-radius: 4px;
		background: transparent;
		color: @background-tertiary;
		border: 1px solid @background-tertiary;
		box-shadow: none;
		&:hover {
			color: @background-primary;
			border: 1px solid @white;
			background: @white;
		}
	}
	.container-preference-tabs {
		border-bottom: 1px solid @border-color-tertiary !important;
		.preferences-tabs {
			background: darken(@background-primary, 3%) !important;
			border-bottom: none !important;
			.item {
				&.active {
					background: @background-primary;
					border: 1px solid d@background-secondary;
					border-bottom: 2px solid @background-primary;
					margin-bottom: -1px;
				}
			}
		}
	}
	.preferences-content.scroll-region {
		background: @background-primary !important;
		// Accounts tab
		.items-wrapper {
			border: 1px solid @border-color-tertiary !important;
			background: none;
		}
		// Subscription tab
		.identity-content-box {
			color: @background-tertiary;
			border-radius: 4px;
			border: 1px solid @border-color-tertiary !important;
			.padded {
				border-top: 1px solid @border-color-tertiary !important;
				&:first-child {
					border: none !important;
				}
			}
		}
	}
	.container-general {
		.local-data {
			.btn {
				border-radius: 4px;
				margin: 4px 8px 0 0;
				background: transparent;
			}
		}
	}
}


/**
 * Tutorial bubble
 */

.tutorial-tip.visible {
	background:  @accent-primary;
	&:after {
		border: 1px solid  @accent-primary;
	}
}