@import 'ui-variables';
.scrollbar-track {
	width: 14px;
	background: transparent;
	border: none;
}

.scrollbar-track-inner {
	background: @background-secondary;
	border-radius: 14px;
}

.scrollbar-handle {
	cursor: pointer;
	border-radius: 14px;
	border: 1px solid @background-secondary !important;
	background: @border-color-tertiary !important;
}

.scrollbar-handle:hover {
	background: @accent-primary !important;
}
