@import 'base/ui-variables';

@gray-base: #3daee9;
@gray-darker: darken(@gray-base, 13.5%);
@gray-dark: darken(@gray-base, 20%);
@gray: darken(@gray-base, 33.5%);
@gray-light: darken(@gray-base, 46.7%);
@gray-lighter: darken(@gray-base, 92.5%);
@white: rgb(83, 83, 83); //unknown use, hence red for contrast

@accent-primary: #3daee9;
@accent-primary-dark: darken(@accent-primary, 10%);

@background-primary: #141618;
@background-off-primary: #0d0f10;
@background-secondary: #0d0f10;
@background-tertiary: #292b30;

@border-color-primary: lighten(@background-primary, 10%);
@border-color-secondary: lighten(@background-secondary, 10%);
@border-color-tertiary: lighten(@background-tertiary, 10%);
@border-color-divider: @border-color-secondary;

@text-color: #fcfcfc;
@text-color-subtle: fadeout(@text-color, 20%);
@text-color-very-subtle: fadeout(@text-color, 40%);
@text-color-inverse: white;
@text-color-inverse-subtle: fadeout(@text-color-inverse, 20%);
@text-color-inverse-very-subtle: fadeout(@text-color-inverse, 50%);
@text-color-heading: #fcfcfc;

@text-color-link: @accent-primary;
@text-color-link-hover: @accent-primary-dark;
@text-color-link-active: @accent-primary-dark;

@btn-default-bg-color: lighten(@background-primary, 5%);
@dropdown-default-bg-color: #141618;

@input-bg: #141618;
@input-border: @border-color-divider;

@list-bg: #1e5774;
@list-border: #0d0f10;
@list-selected-color: @text-color-inverse;
@list-focused-color: @text-color;

@toolbar-background-color: #0d0f10; //unknown use, hence magenta for contrast
@panel-background-color: #0d0f10;